
.idea/django-orm-watching-storage.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/securityhotspotstore/index.pb
.idea/vcs.xml
project/settings.py
.env
datacenter/__pycache__/__init__.cpython-311.pyc
datacenter/__pycache__/models.cpython-311.pyc
datacenter/__pycache__/active_passcards_view.cpython-311.pyc
datacenter/__pycache__/passcard_info_view.cpython-311.pyc
datacenter/__pycache__/storage_information_view.cpython-311.pyc
datacenter/migrations/__pycache__/__init__.cpython-311.pyc
project/__pycache__/settings.cpython-311.pyc
project/__pycache__/urls.cpython-311.pyc
datacenter/__pycache__/format_utils.cpython-311.pyc
.replit
poetry.lock
pyproject.toml